# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
kite_clientside/node_modules
kite_clientside/.pnp
kite_clientside/.pnp.js

kite_serverside/node_modules

# testing
kite_clientside/coverage

# production
kite_clientside/build

# misc
kite_clientside/.DS_Store
kite_clientside/.env.development
kite_clientside/.env.production
kite_clientside/.env.local
kite_clientside/.env.development.local
kite_clientside/.env.test.local
kite_clientside/.env.production.local

kite_serverside/*.env
kite_serverside/.cache/

kite_clientside/npm-debug.log*
kite_clientside/yarn-debug.log*
kite_clientside/yarn-error.log*
